body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: blue;
}

#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: solid black 1px;
    height: 100mm;
    width: 100mm;
}

#choice {
    display: flex;
    gap: 24px;
    margin: 24px 0px;
}

.square {
    display: flex;
    border: solid black 1px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

#winnerDisplay {
    font-size: 20px;
    color: rgb(0, 89, 255);
}

#players {
    display: flex;
    justify-content: space-around;
    gap: 42px;
    margin-bottom: 24px;
    width: 470px;
    height: 100px;
}

#player1, #player2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 176px;
    height: 64px;
    border: solid black 2px;
    transition: 0.1s;
}

#player1:hover, #player2:hover {
   border: solid red 1px;
   box-shadow: 10px 5px 5px red;
}

#score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 46px;
}

#modalBox {
    display: none;
  }

#modalContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#nextRoundBtn, #restart {
    width: 100px;
}

#player1Btns, #player2Btns {
    /* display: none; */
}

.humanBtn, .computerBtn {
    width: 84px;
    height: 55px,
}

#start {
    margin-bottom: 24px;
}